<div>
    {{vm.count1}}
    <button type="button" ng-click="vm.increase({type: 1})">+</button>
    <button type="button" ng-click="vm.decrease({type: 1})">-</button>
    <p ng-hide="vm.hideMe(vm.count1, 5)">Hide count1</p>    
</div>

<div>
    {{vm.count2}}
    <button type="button" ng-click="vm.increase({type: 2})">+</button>
    <button type="button" ng-click="vm.decrease({type: 2})">-</button>
    <p ng-hide="vm.hideMe(vm.count2, 0)">Hide count2</p>    
</div>

<div>
    {{vm.count3}}
    <button type="button" ng-click="vm.autoIncrease({target: 10})">+</button>
    <button type="button" ng-click="vm.autoDecrease({target: 10})">-</button>
    <p ng-hide="vm.hideMe(vm.count3, 10)">Hide count3</p>    
</div>